<!DOCTYPE html>
<html lang="en">
<head>
    th:block th:replace="component/config :: config"></th:block>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div th:replace="component/header :: header"></div>

<form method="post" action="/member/memberSave">
    <input type="text" th:value="${email}">

</form>
<li class="login-name" id="login-area">
</li>
</body>
<script th:inline="javascript">
    const loginArea = document.getElementById("login-area");
    const loginEmail = [[${session.memberNickName}]];
    if (loginEmail.length != 0) {
        loginArea.innerHTML = "<a href='/mypage' style='color: black;'>" + loginEmail + "님 환영해요!</a>" +
            "<a href='/logout'>logout</a>";
    } else {
        loginArea.innerHTML = "<a href='/login'>login</a>";
    }
</script>
</html>