<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
    <div class="text-center">
        <img th:src="@{|/upload/${board.storedFileName}}"
             alt="" style="max-width: 100%; height: auto">
    </div>
    <div>
        <h4>착용제품</h4>
        <div>
            <p th:text="${board.top}"></p>
            <p th:text="${board.topDetail}"></p>
            <p th:text="${board.topPrice}"></p>
        </div>
        <div>
            <p th:text="${board.bottom}"></p>
            <p th:text="${board.bottomDetail}"></p>
            <p th:text="${board.bottomPrice}"></p>
        </div>
        <div>
            <p th:text="${board.etc}"></p>
            <p th:text="${board.etcDetail}"></p>
            <p th:text="${board.etcPrice}"></p>
        </div>
        <div>
            <button class="btn btn-primary" th:onclick="update([[${board.id}]])">수정</button>

        </div>

    </div>
</div>
</body>
<script th:inline="javascript">
    const update = (id) => {
        location.href = "/adminBoard/update/" + id;
    }

</script>
</html>