<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<style>
    input {
        border: none;
    }
</style>

<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div th:replace="component/chatNav :: chatBanner"></div>
<div class="container">
    <div>
        <img th:src="@{|/upload/${board.storedFileName}}"
             alt="" style=" width: 550px; height: 600px">
    </div>
    <div>
        <input type="hidden" id="id" th:value="${board.id}">

        <div style="position: absolute; left: 900px; top: 280px; font-size: 23px;">
            <h1 style="margin-bottom: 40px;">착용 제품 정보</h1>
            <div>
                <p th:text="${'상의 정보 : '+board.top}"></p>
                <p th:text="${board.topDetail}"></p>
                <p th:text="'₩' + ${board.getFormattedTopPrice()}"></p>
            </div>
            <div style="margin-top: 40px;">
                <p th:text="${'하의 정보 : '+board.bottom}"></p>
                <p th:text="${board.bottomDetail}"></p>
                <p th:text="${board.getFormattedBottomPrice()}"></p>
            </div>
            <div style="margin-top: 40px;">
                <p th:text="${board.etc+' 정보'}"></p>
                <p th:text="${board.etcDetail}"></p>
                <p th:text="${board.getFormattedETCPrice()}"></p>
            </div>
        </div>

        <div  style="margin-top: 50px; font-size: 20px;">
            <div>
                <p style="position: absolute; top:850px; left: 300px;">조회수 :</p>
                <span style="position: absolute; top:850px; left: 385px;" th:text="${board.boardHits}"></span>
            </div>
            <p style="position: absolute; top:850px; left: 420px;">좋아요 수 :</p>
            <span id="countLikes" style="position: absolute; top:850px; left: 525px;" th:text="${countBoardLikes}"></span>
        </div>
            <div style="position: absolute; top:850px; left: 770px;" id="likeButton" class="btn btn-outline-secondary"
                 onclick="toggleLike()">
                <div th:if="${boardLikes == null}">
                    <i id="likeIcon" class="bi bi-heart"></i> 좋아요
                </div>
                <div th:unless="${boardLikes == null}">
                    <i id="likeIcon" class="bi bi-heart-fill"></i> 좋아요
                </div>
            </div>

    </div>
</div>
</div>
<div style="background-color: white; height: 40px;"></div>
<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const update = (id) => {
        location.href = "/adminBoard/update/" + id;
    }

    const count_adminLikes = () => {
        const count_likes = document.querySelector("#countLikes");
        const id = document.querySelector("#id").value;

        axios({
            method: "get",
            url: "/adminBoard/countLikes/" + id
        }).then(res => {
            const countLikes = res.data;
            count_likes.innerHTML = countLikes;
        }).catch(err = {});
    }

    // 좋아요 버튼을 클릭할 때마다 아이콘과 텍스트를 변경하는 함수를 작성합니다.
    const toggleLike = () => {
        const icon = document.getElementById("likeIcon");
        const id = document.querySelector("#id").value;
        const redirectURI = "/adminBoard/detail/" + id;
        const loginCheck = [[${session.memberNickName}]];
        console.log(loginCheck);
        console.log(redirectURI);

        if (loginCheck != null) {
            axios({
                method: "get",
                url: "/adminBoard/findByBoardLikes/" + id
            }).then(res => {
                icon.classList.remove("bi-heart");
                icon.innerHTML = '<i class="bi bi-heart-fill"></i>';
                // location.href = "/adminBoard/detail/" + id;
                count_adminLikes();
            }).catch(err => {
                icon.classList.remove("bi-heart-fill");
                icon.innerHTML = '<i class="bi bi-heart"></i>';
                count_adminLikes();
            });
        } else {
            location.href = "/member/memberLogin/?redirectURI=" + redirectURI;
        }


    }


</script>

</script>
</html>