<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <link rel="stylesheet" href="/static/css/boardList.css">

</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/navMarket :: navMarket"></div>
<div class="menu search">
    <select name="type" id="type">
        <option value="writer">작성자</option>
        <option value="title">제목</option>
    </select>
    <input type="text" placeholder="검색어를 입력하세요" id="q" style="display: inline-block;">
    <i class="bi bi-search" onclick="search_func()"></i>
</div>


<div id="section">
    <div  id="product-list">
        <table>
            <th:block th:each="product, iterationStatus: ${marketProductList}">
                <th:block th:if="${iterationStatus.index % 5 == 0}">
                    <tr>
                </th:block>
                <td>
                    <img th:src="@{|/upload/${#strings.replace(product.storedFileName[0], '[', '').replace(']', '')}|}" width="258" height="258" alt="" th:onclick="productDetail([[${product.id}]])">
                    <table>
                        <tr>
                            <td th:text="${product.productTitle}" style=" margin-left: 2px; font-size: 20px"></td>
                        </tr>
                        <tr>
                            <td>
                                <span th:text="${product.getFormattedPrice()}" style="display: inline-block;  loat: left; font-size: 20px;"></span>
                                <span><i class="bi bi-geo-alt" style="display: inline-block; margin-left: 32px; font-size: 20px;"></i></span>
                                <span th:text="${product.transactionArea.substring(0, 6)}" style="display: inline-block;  float: right; font-size: 20px"></span>
                            </td>
                        </tr>
                    </table>
                </td>
            </th:block>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${marketProductList.pageable.pageNumber == 0} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{/market/list(page=${marketProductList.pageable.pageNumber-1}, type=${type}, q=${q})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}" th:classappend="${i==marketProductList.pageable.pageNumber+1} ? 'disabled'">
                    <a class="page-link" href="#" th:if="${i > 0}" th:href="@{/market/list(page=${i - 1}, type=${type}, q=${q})}" th:text="${i}"></a>
                </li>
                <li class="page-item" th:classappend="${marketProductList.totalPages == marketProductList.pageable.pageNumber+1 || marketProductList.getTotalElements() == 0} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{/market/list(page=${marketProductList.pageable.pageNumber+1}, type=${type}, q=${q})}">Next</a>
                </li>
            </ul>
        </nav>



    </div>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">

    const productDetail = (id) =>{
        window.location.href = "/market/" + id;
    }

</script>
<script>
    const search_func = () => {
        const type = document.querySelector("#type").value;
        const q = document.querySelector("#q").value;
        location.href = "/market/list?type=" + type + "&q=" + q;
    }
</script>
</html>