<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="component/config :: config"></th:block>
  <link rel="stylesheet" href="/static/css/boardList.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
<img src="/img/paymentSuccess.png" style="width: 625px; height: 625px; margin-left: 20px;">
<h1 style="margin-left: 90px;">결제가 정상적으로 완료되었습니다. </h1>
<div style="border: 2px solid gainsboro; position: absolute; top: 700px; left: 20px; width: 600px; height: 340px; border-radius: 10px; ">

<div>거래시간, 게시글제목, 결제금액, 배송주소, 사이즈</div>
  <div th:text="${marketPay.id}"></div>
  </div>

</body>

</html>