<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:top="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <link rel="stylesheet" href="/static/css/boardList.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/navMarket :: navMarket"></div>
<div id="section">
    <div style="display: flex; align-items: flex-start;">
        <img th:each="fileName: ${ProductDTO.storedFileName}" th:src="@{|/upload/${fileName}}" width="400" height="400" alt="" style="margin-left: 0%; margin-top: 2%">
        <div style="margin-top: 20px; margin-left: 30px; font-size: 35px;">
            <p th:text="${ProductDTO.productTitle}"></p>
        </div>
        <div style="display: flex; align-items: flex-start; margin-top: 80px;">
            <div style="margin-top: 0; margin-left: -130px; font-size: 35px;">
                <p th:text="${ProductDTO.getFormattedPrice()}"></p>
            </div>
        </div>
    </div>

    <h4>상품사이즈</h4>
    <p th:text="${ProductDTO.productSize}"></p>

    <h4>상품가격</h4>
    <p th:text="${ProductDTO.productPrice}"></p>

    <h4>거래지역</h4>
    <p th:text="${ProductDTO.transactionArea}"></p>

    <h4>찜수</h4>
    <p th:text="${ProductDTO.productDibs}"></p>

    <h4>해시태그</h4>
    <p th:text="${ProductDTO.productHashtag}"></p>

    <div class="container">
        <button class="btn btn-primary" onclick="list_req()">목록</button>
        <button class="btn btn-primary" onclick="req('update')">수정</button>
        <button class="btn btn-primary" onclick="req('delete')">삭제</button>
    </div>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
</html>
