<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script>
        $(function() {
            // Geolocation API에 액세스할 수 있는지를 확인
            if (navigator.geolocation) {
                //위치 정보를 정기적으로 얻기
                var id = navigator.geolocation.watchPosition(
                    function(pos) {
                        $('#latitude').html(pos.coords.latitude);     // 위도
                        $('#longitude').html(pos.coords.longitude); // 경도
                    });

                // 버튼 클릭으로 감시를 중지
                $('#btnStop').click(function() {
                    navigator.geolocation.clearWatch(id);
                });
            } else {
                alert("이 브라우저에서는 Geolocation이 지원되지 않습니다.")
            }

        });
    </script>
<body>
<h1>실시간 날씨 정보</h1><br>
<h5>(1분주기로 자동 업데이트)</h5>
<div id="weatherResult"></div>
</body>


<script>
        const API_KEY = '9d1cf1fe0889f04622c00ea6dbe6c73d';

        function displayWeather(temperature, weather) {
        const resultElement = document.getElementById("weatherResult");
        resultElement.innerHTML = `온도: ${temperature}°C, 날씨: ${weather}`;
    }

        function getWeather() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        fetch(
        `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${API_KEY}&units=metric`
        )
        .then(response => response.json())
        .then(data => {
        const temperature = data.main.temp; // 온도
        const weather = data.weather[0].main; // 날씨 상태


        displayWeather(temperature, weather);
    });
    }, () => {
        alert("위치 정보를 찾을 수 없습니다. 날씨 정보를 제공할 수 없습니다.");
    });
    } else {
        alert("위치 정보를 지원하지 않는 브라우저입니다. 날씨 정보를 제공할 수 없습니다.");
    }
    }

        // 일정 간격으로 실시간으로 날씨 정보 업데이트
        setInterval(getWeather, 60000); // 1분마다 업데이트

        // 페이지 로드 시 초기 날씨 정보 출력
        window.onload = getWeather;

</script>
</html>