<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="http://code.jquery.com/jquery-1.11.0.js"></script>
    <script>
        $(function() {
            // Geolocation API에 액세스할 수 있는지를 확인
            if (navigator.geolocation) {
                //위치 정보를 정기적으로 얻기
                var id = navigator.geolocation.watchPosition(
                    function(pos) {
                        $('#latitude').html(pos.coords.latitude);     // 위도
                        $('#longitude').html(pos.coords.longitude); // 경도
                    });

                // 버튼 클릭으로 감시를 중지
                $('#btnStop').click(function() {
                    navigator.geolocation.clearWatch(id);
                });
            } else {
                alert("이 브라우저에서는 Geolocation이 지원되지 않습니다.")
            }

        });
    </script>
<body>
<ul>
    <li>위도:<span id="latitude"></span></li>
    <li>경도:<span id="longitude"></span></li>
</ul>
<input id="btnStop" type="button" value="감시를 끝낸다" />
</body>


<script>
    const API_KEY = '9d1cf1fe0889f04622c00ea6dbe6c73d';


    function onGeoOk(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        // console.log(`You live in ${latitude} and ${longitude}`);

        fetch(
            `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${API_KEY}&units=metric`,
        )
            .then(data => {
                console.log(data);
                console.log(`온도 : ${data.main.temp}, 날씨 : ${data.weather[0].main}`);
                const temp = data.main.temp;
                const weathers = data.weather[data.weather.length[0]];
                weatherIcon.src = `https://openweathermap.org/img/wn/${weathers.icon}@2x.png`;
                weatherSpan.innerHTML = `${temp}&#176;C ${weathers.main}`;
            })


    }

    function onGeoError() {
        alert("Can't find you. No weather for you.");
    }

    navigator.geolocation.getCurrentPosition(onGeoOk, onGeoError);
</script>
</html>