<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="component/config :: config"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS 스타일을 추가하여 테이블을 꾸밀 수 있습니다 */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div th:replace="component/infonav :: infonav"></div>
<div>총 건수 : <span th:text="${MarketProduct.totalElements}"></span>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>이미지</th>
            <th>제품이름</th>
            <th>상품판매지역</th>
            <th>작성시간</th>
            <th>조회수</th>
            <th>찜한수</th>
            <!-- 다른 속성도 필요에 따라 추가할 수 있습니다 -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="MarketProduct: ${MarketProduct}" varStatus="loop">
            <td th:text="${MarketProduct.id}"></td>
            <td>
                <img th:src="@{|/upload/${#strings.replace(MarketProduct.storedFileName[0], '[', '').replace(']', '')}|}"
                     style="max-width: 100px;">
            </td>
            <td th:text="${MarketProduct.productTitle}">
            </td>
            <td th:text="${MarketProduct.transactionArea}">
            </td>
            <td th:text="${MarketProduct.createdAt}">
            </td>
            <td th:text="${MarketProduct.productHits}">
            </td>
            <td th:text="${MarketProduct.marketLikes}">
            </td>
            <!-- 다른 속성도 필요에 따라 추가할 수 있습니다 -->
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1==MarketProduct.pageable.pageNumber+1 }?'disabled'">
                <a class="page-link" href="#" th:href="@{/member/myDibsList(page=${MarketProduct.pageable.pageNumber-1})}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i==MarketProduct.pageable.pageNumber+1 }?'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/member/myDibsList(page=${i - 1})}" th:text="${i}">1</a></li>
            <li class="page-item" th:classappend="${MarketProduct.totalPages==MarketProduct.pageable.pageNumber+1 }?'disabled'">
                <a class="page-link" href="#" th:href="@{/member/myDibsList(page=${MarketProduct.pageable.pageNumber+1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
