<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <th:block th:replace="component/config :: config"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* CSS 스타일을 추가하여 테이블을 꾸밀 수 있습니다 */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div th:replace="component/infonav :: infonav"></div>
<div>총 건수 : <span th:text="${marketPaymentDTOS.totalElements}"></span>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>이미지</th>
                <th>제품이름</th>
                <th>제품 거래상태</th>

                <!-- 다른 속성도 필요에 따라 추가할 수 있습니다 -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="marketPaymentDTOS: ${marketPaymentDTOS}" varStatus="loop">
                <td th:text="${marketPaymentDTOS.id}"></td>

                <td th:text="${marketPaymentDTOS.productId}">
                </td>

                <td th:text="${marketPaymentDTOS.createdAt}">
                </td>
                <td>
                    <button class="btn btn-primary"
                            th:if="${marketPaymentDTOS.buyerId == currentMember.id && marketPaymentDTOS.tradeStatus == 1}"
                            th:text="'구매확정'"
                            th:onclick="myFunction([[${marketPaymentDTOS.id}]])"></button>

                    <span th:if="${marketPaymentDTOS.buyerId == currentMember.id && marketPaymentDTOS.tradeStatus == 2}"
                          th:text="'구매완료'"></span>

                    <span th:if="${marketPaymentDTOS.sellerId == currentMember.id && marketPaymentDTOS.tradeStatus == 1}"
                          th:text="'거래중'"></span>

                    <span th:if="${marketPaymentDTOS.sellerId == currentMember.id && marketPaymentDTOS.tradeStatus == 2}"
                          th:text="'판매완료'"></span>
                </td>

                <!-- 다른 속성도 필요에 따라 추가할 수 있습니다 -->
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1==marketPaymentDTOS.pageable.pageNumber+1 }?'disabled'">
                    <a class="page-link" href="#"
                       th:href="@{/member/myTradeList(page=${marketPaymentDTOS.pageable.pageNumber-1})}" tabindex="-1"
                       aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:classappend="${i==marketPaymentDTOS.pageable.pageNumber+1 }?'disabled'"
                    th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" href="#" th:href="@{/member/myTradeList(page=${i - 1})}" th:text="${i}">1</a>
                </li>
                <li class="page-item"
                    th:classappend="${marketPaymentDTOS.totalPages==marketPaymentDTOS.pageable.pageNumber+1 }?'disabled'">
                    <a class="page-link" href="#"
                       th:href="@{/member/myTradeList(page=${marketPaymentDTOS.pageable.pageNumber+1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>



</body>
<script th:inline="javascript">
    myFunction = (id) => {
        const  id1 = id;
        if (!confirm("구매 확정을 하시겠습니까?")) {

        } else {
            $.ajax({
                type: "post",
                url: "/market/buyConfirm",
                data: {
                    id: id1
                }, success: function (res) {
                    alert("구매 확정 되었습니다");
                    console.log(res);
                    location.reload();

                }, error: function (res) {
                    console.log(res);

                    alert("구매 실패!")
                }
            });
        }

    }
</script>

</html>
