<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <title>Title</title>

</head>
<body>
<div th:fragment="footer" class="container" id="footer" >
    <div class="box">
        <script>
            const date = new Date();
            const year = date.getFullYear();
            document.write('<p style="margin-left: 35%;">© ' + year + ' WearTheWeather All rights reserved. </p>');
        </script>
    </div>
</div>
</body>

</html>