<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<div th:fragment="nav" class="container" id="nav">
    <div class="box" style="background-color: #558BCF;">

        <div th:if="${session.memberNickName != null}">
            <div class="dropdown">
                <button type="button" onclick="findByMyAlarm()"
                        class="btn btn-primary dropdown-toggle bg-transparent border-0" data-bs-toggle="dropdown"
                        style="position: absolute; top:-33px; left: 1020px;">

                    <i class="bi bi-bell fs-4"></i>
                </button>
                <!-- 알림수 -->
                <div th:text="${countMyAlarm}"></div>
                <div>
                    <ul class="dropdown-menu flex-column" id="dropdownList" style="max-height: 200px; overflow-y: auto">
                        <li style="display: block;"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:unless="${session.memberNickName != null}"></div>
        <ul>
            <li style="font-size: 20px;">
                <a href="/adminBoard/list" class="nav-link">오늘의 코디</a>
                <a href="/memberBoard/rankingList" class="nav-link">실시간 랭킹</a>
                <a href="/memberBoard/list" class="nav-link">코디 콘테스트</a>
                <a href="/market/list" class="nav-link">웨더마켓</a>
            </li>
        </ul>
        <ul>
            <li class="board-name" id="board-area">
                <a href="/adminBoard/firstSearch">
                    <i class="bi bi-search"></i>
                </a>
                <span th:if="${session.loginEmail == 'gkdudquf1@naver.com'}">
                    <a href="/admin/index">
                        <i class="bi bi-person-fill"></i>
                    </a>
                </span>
                <span th:unless="${session.loginEmail == 'gkdudquf1@naver.com'}">
                    <a href="/member/mypage">
                        <i class="bi bi-person-fill"></i>
                    </a>
                </span>
            </li>
        </ul>
    </div>
    <script th:inline="javascript">

        const setIsRead = (id) => {
            axios({
                method: "put",
                url: "/alarm/" + id
            }).then(res => {

            }).catch(err => {

            });
        }


        const findByMyAlarm = () => {
            const resultArea = document.querySelector("#dropdownList");
            resultArea.innerHTML = "";

            axios({
                method: "get",
                url: "/alarm/"
            }).then(res => {
                const alarmList = res.data;

                alarmList.forEach(function (item) {
                    const li = document.createElement('li');
                    const message = item.message;
                    const boardId = item.boardId;
                    const productId = item.productId;

                    const a = document.createElement('a');
                    a.classList.add('dropdown-item', 'text-dark');
                    if (item.type == "buys") {
                        a.href = `/market/` + productId;
                    } else if (item.type == "buyConfirm") {
                        a.href = `/member/myTradeList/`;
                    } else {
                        a.href = `/memberBoard/detail/` + boardId;
                    }
                    a.textContent = message;

                    a.addEventListener('click', function () {
                        setIsRead(item.id); // 클릭한 게시물의 id를 전달합니다.
                    });

                    li.style.display = 'block';
                    li.style.fontSize = '15px';
                    li.appendChild(a);
                    resultArea.appendChild(li);

                });
            }).catch(err => {

            });
        }

    </script>

</div>

</body>
</html>