<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>
<div th:fragment="nav" class="container" id="nav">
    <div class="box" style="background-color: #558BCF;">
        <ul>
            <li style="font-size: 20px;">
                <a href="/adminBoard/list">오늘의코디</a>
                <a href="/memberBoard/ranking">실시간랭킹</a>
                <a href="/memberBoard/list">코디콘테스트</a>
                <a href="/market/list">웨더마켓</a>
            </li>
        </ul>
        <ul>
            <li class="board-name" id="board-area">
                <a href="/">
                    <i class="bi bi-search" style=""></i>
                </a>
                <a href="/">
                    <i class="bi bi-bell"></i>
                </a>
                <a href="/">
                    <i class="bi bi-person-fill"></i>
                </a>
            </li>
        </ul>
    </div>

</body>
</html>