<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
  <title>Title</title>
</head>
<body>
<div id="loginAll" style="background-color: gainsboro">
  <div th:fragment="navLogin" class="containerLogin" id="navLogin">
    <div class="box" style="width: 650px; margin-top: 50px; display: flex; justify-content: center; align-items: center;">
      <a href="/" style="text-decoration: none;">
        <h1 style="text-align: center; color: white">Wear The Weather</h1>
      </a>
    </div>
  </div>
</div>
</body>

</html>
