<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="pagination(currentPage, totalPages)">
  <div>
    <!-- Previous page link -->
    <a th:if="${currentPage > 0}" th:href="@{myLikeList(page=${currentPage - 1})}">&lt; Previous</a>

    <!-- Page numbers -->
    <span th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{myLikeList(page=${pageNumber})}" th:text="${pageNumber + 1}"
               th:classappend="${pageNumber == currentPage ? 'active' : ''}"></a>
        </span>

    <!-- Next page link -->
    <a th:if="${currentPage < totalPages - 1}" th:href="@{myLikeList(page=${currentPage + 1})}">Next &gt;</a>
  </div>
</div>
</body>
</html>
