<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div th:replace="component/adminnav :: nav"></div>
<div class="container">
    <form action="/adminBoard/save" method="post" enctype="multipart/form-data">
        태그: <input type="text" name="hashTags"> <br>
        <label>
            <input type="radio" name="season" value="봄">봄
        </label>
        <label>
            <input type="radio" name="season" value="여름">여름
        </label>
        <label>
            <input type="radio" name="season" value="가을">가을
        </label>
        <label>
            <input type="radio" name="season" value="겨울">겨울
        </label><br>
        <label>
            <input type="radio" name="weather" value="맑음">맑음
        </label>
        <label>
            <input type="radio" name="weather" value="흐림">흐림
        </label>
        <label>
            <input type="radio" name="weather" value="비">비
        </label>
        <label>
            <input type="radio" name="weather" value="눈">눈
        </label><br>
        <label>
            <input type="radio" name="temp" value="더움">더움
        </label>
        <label>
            <input type="radio" name="temp" value="따듯함">따듯함
        </label>
        <label>
            <input type="radio" name="temp" value="선선함">선선함
        </label>
        <label>
            <input type="radio" name="temp" value="추움">추움
        </label><br>
        키(cm): <input type="text" name="height"> <br>
        성별: <br>
        남: <input type="radio" name="gender" value="남">
        여: <input type="radio" name="gender" value="여"> <br><br>
        [상의] <br>
        종류: <input type="text" name="top"> <br>
        상세설명: <input type="text" name="topDetail"> <br>
        가격: <input type="text" name="topPrice"> <br><br>
        [하의] <br>
        종류: <input type="text" name="bottom"> <br>
        상세설명: <input type="text" name="bottomDetail"> <br>
        가격: <input type="text" name="bottomPrice"> <br><br>
        [기타] <br>
        종류: <input type="text" name="etc"> <br>
        상세설명: <input type="text" name="etcDetail"> <br>
        가격: <input type="text" name="etcPrice"> <br>
        <input type="file" name="boardFile">
        <input type="submit" value="작성">
    </form>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
</html>