<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="sideBanner" style="background-color: #558BCF; width: 200px; height: 230px; border-radius: 30px; color: white; margin-left: 45px; margin-top: 30px;">
    <div class="floating_menu"><a href="/adminBoard/save">관리글 작성</a></div>
    <div class="floating_menu"><a href="/admin/boardList">관리자 목록</a></div>
    <div style="position: absolute; margin-top: -5px;">
        <img style="margin-top: 100px;" id="bannerImage" src="/img/42.png" onclick="moveToTop()">
    </div>
</div>
<div class="container">
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section" style="height: 350px;"></div>
<div th:replace="component/adminnav :: nav"></div>
</div>

<div class="container">

웨더페이: <div th:text="${admin.memberWeatherPay}"></div>





</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script>
    const floatPosition = parseInt($(".sideBanner").css('top'))

    // scroll 인식
    $(window).scroll(function() {

        // 현재 스크롤 위치
        const currentTop = $(window).scrollTop();
        const bannerTop = currentTop + floatPosition + "px";

        // 이미지 변경
        if (currentTop > 0) {
            $("#bannerImage").attr("src", "/img/43.png");
        } else {
            $("#bannerImage").attr("src", "/img/42.png");
        }

        // 이동 애니메이션
        $(".sideBanner").stop().animate({
            "top" : bannerTop
        }, 500);

    });

    function moveToTop() {
        $("html, body").animate({ scrollTop: 0 }, "fast");
    }
</script>
</html>