<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="body">
    <div id="demo" class="carousel slide" data-bs-ride="carousel" style="width: 1300px;">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" style="background-color: gray"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1" style="background-color: gray"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2" style="background-color: gray"></button>


        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/Slides1.gif" class="d-block" href="/adminBoard/list">
            </div>
            <div class="carousel-item">
                <img src="/img/Slides2.png" class="d-block" href="/memberBoard/list">
            </div>
            <div class="carousel-item">
                <img src="/img/Slides3.png" class="d-block" href="/market/list">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon" style="position: absolute;"></span>
        </button>
    </div>


<h1>실시간 날씨 정보</h1>
<h5>(1분마다 자동 업데이트)</h5>
<a href="/test">실험용</a>
<div id="weatherResult"></div>
</div>
<div th:replace="component/footer :: footer"></div>
</body>
<script>

    $(function() {
        // Check if we can access the Geolocation API
        if (navigator.geolocation) {
            // Regularly get location information
            var id = navigator.geolocation.watchPosition(
                function(pos) {
                    $('#latitude').html(pos.coords.latitude); // 위도
                    $('#longitude').html(pos.coords.longitude); // 경도
                });

            // Stop monitoring with button click
            $('#btnStop').click(function() {
                navigator.geolocation.clearWatch(id);
            });
        } else {
            alert("이 브라우저에서는 Geolocation을 지원하지 않습니다.")
        }

    });
</script>
<script>
    const API_KEY = '9d1cf1fe0889f04622c00ea6dbe6c73d';


    function displayWeather(temperature, weather, name) {
        console.log("디스플레이 콘솔"+temperature,weather,name)
        const resultElement = document.getElementById("weatherResult");
        resultElement.innerHTML = `온도: ${temperature}°C, 날씨: ${weather} 접속위치:${name}`;

        const weatherIconElement = document.createElement("img");
        weatherIconElement.classList.add("weather-icon");
        weatherIconElement.style.width = "60px"; // 가로 크기 설정
        weatherIconElement.style.height = "60px"; // 세로 크기 설정
        const iconFileName = getIconFileName(weather);
        weatherIconElement.src = `/img/${iconFileName}`;

        resultElement.appendChild(weatherIconElement);
    }

    function getIconFileName(weather) {
        const weatherIcons = {
            "Clear": "Clear4.png",
            "Clouds": "Clouds4.png",
            "Rain": "Rain4.png",
            "Snow": "Snow4.png"
        };

        const weatherKey = Object.keys(weatherIcons).find(key => weather.includes(key));

        return weatherIcons[weatherKey];
    }

    function getWeather() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(position => {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                fetch(
                    `https://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&appid=${API_KEY}&units=metric`
                )
                    .then(response => response.json())
                    .then(data => {
                        const temperature = data.main.temp; // 온도
                        let weather;

                        if (data.weather[0].main === "Mist" || data.weather[0].main === "Thunderstorm") {
                            weather = "Rain";
                        } else {
                            weather = data.weather[0].main;
                        } // 날씨 조건
                        const name = data.name; // 날씨 조건
                        displayWeather(temperature, weather, name);

                    })
                    .catch(error => {
                        alert("날씨 정보를 가져오는 중에 오류가 발생했습니다.");
                    });
            }, () => {
                alert("위치 정보를 찾을 수 없습니다. 날씨 정보를 제공할 수 없습니다.");
            });
        } else {
            alert("이 브라우저에서는 Geolocation을 지원하지 않습니다. 날씨 정보를 제공할 수 없습니다.");
        }
    }

    // 정해진 간격으로 실시간으로 날씨 정보 업데이트
    setInterval(getWeather, 60000); // 1분마다 업데이트

    // 페이지 로드 시 초기 날씨 정보 출력
    window.onload = getWeather;
</script>


</html>