<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <form action="/memberBoard/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${board.id}">
        <input type="hidden" name="boardHits" th:value="${board.boardHits}">
        <input type="hidden" name="boardLikes" th:value="${board.boardLikes}">
        <input type="hidden" name="boardWriter" th:value="${board.boardWriter}">
        <div th:each="fileName: ${board.storedFileName}">
            <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
        </div>
        <input type="file" name="boardFile" multiple> <br>
        <label>
            <input type="radio" name="season" value="Spring" th:checked="${board.season == 'Spring'}">봄
        </label>
        <label>
            <input type="radio" name="season" value="Summer" th:checked="${board.season == 'Summer'}">여름
        </label>
        <label>
            <input type="radio" name="season" value="Fall" th:checked="${board.season == 'Fall'}">가을
        </label>
        <label>
            <input type="radio" name="season" value="Winter" th:checked="${board.season == 'Winter'}">겨울
        </label><br>
        제목: <input type="text" name="boardTitle" th:value="${board.boardTitle}"> <br>
            내용: <textarea name="boardContents" cols="30" rows="10" th:value="${board.boardContents}"></textarea>
            <input type="button" value="수정" onclick="board_update()" class="btn btn-primary">
    </form>
</div>

<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const board_update = () => {
        const id = document.querySelector('input[name="id"]').value;
        const boardHits = document.querySelector('input[name="boardHits"]').value;
        const boardLikes = document.querySelector('input[name="boardLikes"]').value;
        const boardTitle = document.querySelector('input[name="boardTitle"]').value;
        const boardWriter = document.querySelector('input[name="boardWriter"]').value;
        const boardContents = document.querySelector('textarea[name="boardContents"]').value;
        const season = document.querySelector('input[name="season"]').checked;

        axios({
            method: "put",
            url: "/memberBoard/",
            data: {
                id: id,
                boardTitle: boardTitle,
                boardWriter: boardWriter,
                boardContents: boardContents,
                boardHits: boardHits,
                boardLikes: boardLikes,
                season: season
            }
        }).then(res => {
            location.href = "/memberBoard/detail/" + id;
        }).catch(err => {
            alert("오류가 발생했습니다.");
        })
    }
</script>
</html>