<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script type="text/javascript" src="/smartEditor/js/HuskyEZCreator.js" charset="UTF-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <form action="/memberBoard/save" method="post" enctype="multipart/form-data" onblur="fileCheck()" id="myform">
        <input type="file" name="boardFile" multiple> <br>
        <label>
            <input type="radio" name="season" value="Spring">봄
        </label>
        <label>
            <input type="radio" name="season" value="Summer">여름
        </label>
        <label>
            <input type="radio" name="season" value="Fall">가을
        </label>
        <label>
            <input type="radio" name="season" value="Winter">겨울
        </label><br>
        제목: <input type="text" name="boardTitle"> <br>
        내용: <textarea name="boardContents" placeholder="내용을 입력해주세요" cols="30" rows="10"></textarea>
<!--        <div id="smartEditor">-->
<!--            <textarea name="boardContents" id="boardContents" cols="50" rows="25" placeholder="내용을 입력하세요"-->
<!--                          style="width: 500px"></textarea>-->
<!--        </div>-->
        <input type="submit" value="작성" onclick="add_savePoint()" class="btn btn-primary">
    </form>



    </div>
</div>

<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    document.getElementById("myform").addEventListener("submit", function(event) {
        const fileInput = document.querySelector('input[name="boardFile"]');
        const files = fileInput.files;
        console.log(files.length);
        if (files.length === 0) {
            console.log(files.length);
            event.preventDefault(); // Prevent form submission
            alert("파일 첨부는 필수입니다.");
        }else{
            console.log(files.length);
        }
    });

    const add_savePoint = () => {
        const memberNickName = [[${session.memberNickName}]];

        axios({
            method: "get",
            url: "/member/addSavePoint/" + memberNickName
        }).then(res => {

        }).catch(err => {

        })
    }


</script>

</html>