<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div th:replace="component/chatNav :: chatBanner"></div>
<div class="container">
    <div>
        <input type="hidden" id="id" th:value="${board.id}">
        <input type="hidden" id="writerId" th:value="${board.writerId}">

        <div style="position: absolute; top:250px; left: 900px;">
            <div th:if="${board.memberPoints > 6000}">
                <!-- Level 5 이미지 -->
                <img style="width: 30px; height: 30px; border-radius: 30px; float: left;"
                     src="/img/point_img/Level_5.png" alt="">
            </div>
            <div th:unless="${board.memberPoints > 6000}" th:if="${board.memberPoints >= 4500}">
                <!-- Level 4 이미지 -->
                <img style="width: 30px; height: 30px; border-radius: 30px; float: left;"
                     src="/img/point_img/Level_4.png" alt="">
            </div>
            <div th:unless="${board.memberPoints >= 4500}" th:if="${board.memberPoints >= 3000}">
                <!-- Level 3 이미지 -->
                <img style="width: 100px; height: 100px; border-radius: 30px; float: left;"
                     src="/img/point_img/Level_3.png" alt="">
            </div>
            <div th:unless="${board.memberPoints >= 3000}" th:if="${board.memberPoints >= 1500}">
                <!-- Level 2 이미지 -->
                <img style="width: 100px; height: 100px; border-radius: 30px; float: left;"
                     src="/img/point_img/Level_2.png" alt="">
            </div>
            <div th:unless="${board.memberPoints >= 1500}">
                <!-- Level 1 이미지 -->
                <img style="width: 100px; height: 100px; border-radius: 30px; float: left;"
                     src="/img/point_img/Level_1.png" alt="">
            </div>
        </div>

        <div style="position: absolute; top:270px; left:1020px;">
            <h3 th:text="${board.boardTitle}"></h3>
        </div>
        <div style="position: absolute; top:310px; left: 1020px;">
            <h6 th:text="${board.boardWriter + ' | ' + board.boardHits + ' | ' + board.createdAt}"></h6>
        </div>
        <div th:each="fileName: ${board.storedFileName}">
            <img th:src="@{|/upload/${fileName}}" width="550" height="600" alt="">
        </div>
        <div style="position: absolute; top: 365px; left: 920px;" th:text="${board.boardContents}"></div>

        <div style="position: absolute; top:850px;left: 430px;" id="likeButton" class="btn btn-outline-secondary"
             onclick="toggleLike2()">
            <div th:if="${boardLikes.isEmpty()}">
                <i id="likeIcon2" class="bi bi-heart"></i> 좋아요
            </div>
            <div th:unless="${boardLikes.isEmpty()}">
                <i id="likeIcon2" class="bi bi-heart-fill"></i> 좋아요
            </div>
        </div>
        <div style="position: absolute; top:850px;">
            <div  id="countLikes" th:text="'좋아요  '+${countBoardLikes}+'개'" style="font-size: 23px;"></div>
        </div>

        <!-- 수정/삭제버튼 -->
        <div th:if="${session.memberNickName eq board.boardWriter}">
            <button style="position: absolute; top:850px; left: 730px; background-color: #558BCF"
                    class="btn btn-primary" th:onclick="update([[${board.id}]])">수정
            </button>
            <button style="position: absolute; top:850px; left: 800px; background-color: #558BCF"
                    class="btn btn-primary" th:onclick="boardDelete([[${board.id}]])">삭제
            </button>
        </div>
        <div th:unless="${session.loginEmail eq board.boardWriter}"></div>

        <div class="container" id="comment-write" style="position: absolute; top:850px; left: 900px;">
            <input type="hidden" id="comment-writer" th:value="${session.memberNickName}">
            <input style="width: 400px; border-radius: 10px;  border: solid 2px gainsboro;" type="text"
                   id="comment-contents" placeholder="댓글 내용을 작성해주세요">
            <button style="border-radius: 10px; background-color: #558BCF; color: white; border: solid 3px #f8f9fa;"
                    onclick="comment_write()">댓글작성
            </button>
        </div>
        <div class="container" id="comment-list" style="position:absolute; top: 550px; left: 900px; width: 700px;">
            <div th:if="${commentList == null}">
                <p>작성된 댓글이 없습니다.</p>
            </div>
            <div th:unless="${commentList == null}">
                <table class="table">
                    <tr th:each="comment: ${commentList}">
                        <input type="hidden" id="commentWriterId" th:value="${comment.writerId}">
                        <input type="hidden" id="memberPoint" th:value="${comment.memberPoints}">
                        <td>
                            <div th:if="${comment.memberPoints > 6000}">
                                <!-- Level 5 이미지 -->
                                <img style="width: 50px; height: 50px; border-radius: 30px; float: left; margin-right: 10px;"
                                     src="/img/point_img/Level_5.png" alt="">
                                <span th:text="${comment.commentWriter}"></span>
                            </div>
                            <div th:unless="${comment.memberPoints > 6000}" th:if="${comment.memberPoints >= 4500}">
                                <!-- Level 4 이미지 -->
                                <img style="width: 50px; height: 50px; border-radius: 30px; float: left; margin-right: 10px;"
                                     src="/img/point_img/Level_4.png" alt="">
                                <span th:text="${comment.commentWriter}"></span>
                            </div>
                            <div th:unless="${comment.memberPoints >= 4500}" th:if="${comment.memberPoints >= 3000}">
                                <!-- Level 3 이미지 -->
                                <img style="width: 50px; height: 50px; border-radius: 30px; float: left; margin-right: 10px;"
                                     src="/img/point_img/Level_3.png" alt="">
                                <span th:text="${comment.commentWriter}"></span>
                            </div>
                            <div th:unless="${comment.memberPoints >= 3000}" th:if="${comment.memberPoints >= 1500}">
                                <!-- Level 2 이미지 -->
                                <img style="width: 50px; height: 50px; border-radius: 30px; float: left; margin-right: 10px;"
                                     src="/img/point_img/Level_2.png" alt="">
                                <span th:text="${comment.commentWriter}"></span>
                            </div>
                            <div th:unless="${comment.memberPoints >= 1500}">
                                <!-- Level 1 이미지 -->
                                <img style="width: 50px; height: 50px; border-radius: 30px; float: left; margin-right: 10px;"
                                     src="/img/point_img/Level_1.png" alt="">
                            </div>

                            <span>
                                 <span th:text="${comment.commentWriter}"></span>
                                <div th:text="${comment.calculateElapsedDays}"></div>
                            </span>
                        </td>
                        <td th:text="${comment.commentContents}"></td>
                        <td th:if="${session.memberNickName eq comment.commentWriter}">
                            <i class="bi bi-x" th:onclick="comment_delete([[${comment.id}]])"></i>
                        </td>
                        <td th:unless="${session.memberNickName eq comment.commentWriter}"></td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
</div>
</div>
<div style="height: 100px; width: 500px; background-color: white"></div>
<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    const comment_delete = (commentId) => {
        const id = commentId;
        const boardId = [[${board.id}]];
        axios({
            method: "delete",
            url: "/comment/delete",
            data: {
                id: id,
                boardId: boardId
            }
        }).then(res => {
            location.href = "/memberBoard/detail/" + boardId;
        }).catch(err => {
            alert("삭제 실패했습니다.")
        });
    }
    const update = (id) => {
        location.href = "/memberBoard/update/" + id;
    }

    const boardDelete = (id) => {
        if (confirm('정말로 삭제하시겠습니까?')) {
            axios({
                method: "delete",
                url: "/memberBoard/" + id
            }).then(res => {
                alert('삭제가 완료되었습니다.');
                location.href = "/memberBoard/list";
            }).catch(err => {
                alert('오류가 발생했습니다.');
            })
        } else {
            alert('삭제가 취소되었습니다');
        }

    }

    const comment_list = (commentList) => {
        const resultArea = document.querySelector("#comment-list");
        let loginNickName = [[${session.memberNickName}]];

        let output = "        <table class=\"table\">\n";

        for (let i in commentList) {
            let memberPoints = commentList[i].memberPoints;
            let imgSrc = "";

            // 회원 등급에 따라 이미지 경로를 설정
            if (memberPoints > 6000) {
                imgSrc = "/img/point_img/Level_5.png";
            } else if (memberPoints >= 4500) {
                imgSrc = "/img/point_img/Level_4.png";
            } else if (memberPoints >= 3000) {
                imgSrc = "/img/point_img/Level_3.png";
            } else if (memberPoints >= 1500) {
                imgSrc = "/img/point_img/Level_2.png";
            } else {
                imgSrc = "/img/point_img/Level_1.png";
            }

            let writerNickName = commentList[i].commentWriter;
            output += `
            <tr>
                <td>
                <img style="width: 50px; height: 50px; border-radius: 30px; float: left; margin-right: 10px;"
                         src="${imgSrc}" alt="">
                <span>${commentList[i].commentWriter}</span>
                <div>
                <span>${commentList[i].calculateElapsedDays}</span>
                </div>
                </td>
                <td>${commentList[i].commentContents}</td>
                <td>
                    ${writerNickName == loginNickName ? `<i class="bi bi-x" data-id="${commentList[i].id}" onClick="comment_delete(${commentList[i].id})"></i>` : ""}
                </td>
            </tr>`;
        }


        output += "</table>";
        resultArea.innerHTML = output;
    }

    const send_commentAlarm = () => {
        const boardId = document.querySelector("#id").value;
        const writerId = document.querySelector("#writerId").value;
        console.log(boardId);
        axios({
            method: "post",
            url: "/alarm/commentAlarm",
            data: {
                boardId: boardId,
                writerId: writerId
            }
        }).then(res => {

        }).catch(err => {

        });

    }

    const add_commentPoint = (writerId) => {
        axios({
            method: "get",
            url: "/member/addCommentPoint/" + writerId
        }).then(res => {

        }).catch(err => {

        })
    }
    const comment_write = () => {
        const writer = document.querySelector("#comment-writer").value;
        const contents = document.querySelector("#comment-contents").value;
        const boardId = [[${board.id}]];
        axios({
            method: "post",
            url: "/comment/save",
            data: {
                commentWriter: writer,
                commentContents: contents,
                boardId: boardId
            }
        }).then(res => {
            console.log("res", res);
            console.log("댓글 목록", res.data);
            document.querySelector("#comment-contents").value = "";
            send_commentAlarm();
            add_commentPoint(res.data.id);
            comment_list(res.data);
        }).catch(err => {
            console.log("err", err);
        });
    }



    const count_likes = () => {
        const count_likes = document.querySelector("#countLikes");
        const id = document.querySelector("#id").value;

        axios({
            method: "get",
            url: "/memberBoard/countLikes/" + id
        }).then(res => {
            const countLikes = res.data;
            count_likes.innerHTML = "좋아요 " + countLikes + "개";
        }).catch(err = {});
    }

    const add_likePoint = () => {
        const writerId = document.querySelector("#writerId").value;

        axios({
            method: "get",
            url: "/member/addLikePoint/" + writerId
        }).then(res => {

        }).catch(err => {

        })
    }


    const send_likeAlarm = () => {
        const boardId = document.querySelector("#id").value;
        const writerId = document.querySelector("#writerId").value;
        console.log(boardId);
        axios({
            method: "post",
            url: "/alarm/likesAlarm",
            data: {
                boardId: boardId,
                writerId: writerId
            }
        }).then(res => {

        }).catch(err => {

        });
    }

    // 좋아요 버튼을 클릭할 때마다 아이콘과 텍스트를 변경하는 함수를 작성합니다.
    const toggleLike2 = () => {
        const icon = document.getElementById("likeIcon2");
        const id = document.querySelector("#id").value;

        axios({
            method: "get",
            url: "/memberBoard/findByBoardLikes/" + id,
        }).then(res => {
            icon.classList.remove("bi-heart");
            icon.innerHTML = '<i class="bi bi-heart-fill"></i>';
            count_likes();
            send_likeAlarm();
            add_likePoint();
        }).catch(err => {
            icon.classList.remove("bi-heart-fill");
            icon.innerHTML = '<i class="bi bi-heart"></i>';
            count_likes();

        });

    }


</script>
</html>