<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="component/config :: config"></th:block>
    <script type="text/javascript" src="/smartEditor/js/HuskyEZCreator.js" charset="UTF-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<div id="section">
    <form action="/memberBoard/save" method="post" enctype="multipart/form-data" onblur="fileCheck()">
        <input type="file" name="boardFile" multiple> <br>
        <label>
            <input type="radio" name="season" value="Spring">봄
        </label>
        <label>
            <input type="radio" name="season" value="Summer">여름
        </label>
        <label>
            <input type="radio" name="season" value="Fall">가을
        </label>
        <label>
            <input type="radio" name="season" value="Winter">겨울
        </label><br>
        제목: <input type="text" name="boardTitle"> <br>
        내용: <textarea name="boardContents" placeholder="내용을 입력해주세요" cols="30" rows="10"></textarea>
<!--        <div id="smartEditor">-->
<!--            <textarea name="boardContents" id="boardContents" cols="50" rows="25" placeholder="내용을 입력하세요"-->
<!--                          style="width: 500px"></textarea>-->
<!--        </div>-->
        <input type="submit" value="작성" class="btn btn-primary">
    </form>



    </div>
</div>

<div th:replace="component/footer :: footer"></div>
</body>
<script th:inline="javascript">
    // let oEditors = [];
    // smartEditor = function () {
    //     nhn.husky.EZCreator.createInIFrame({
    //         oAppRef: oEditors,
    //         elPlaceHolder: "boardContents",
    //         sSkinURI: "/smartEditor/SmartEditor2Skin.html",
    //         fCreator: "createSEditor2"
    //     })
    // }
    //
    // $(document).ready(function () {
    //     smartEditor()
    // })
    //
    // submitPost= function () {
    //     oEditors.getById["boardContents"].exec("UPDATE_CONTENTS_FIELD",[])
    //     let content = document.getElementById("boardContents").value;
    //
    //     if (content == '') {
    //         alert("내용을 입력해주세요.")
    //         oEditors.getById["boardContents"].exec("FOCUS");
    //         return
    //     } else  {
    //         console.log(content);
    //     }
    // }
    //
    // savePost = function () {
    //     oEditors.getById["boardContents"].exec("UPDATE_CONTENTS_FIELD", [])
    //     let content = document.getElementById("boardContents").value;
    //
    //     if (content == '') {
    //         alert("내용을 입력해주세요.");
    //         oEditors.getById["boardContents"].exec("FOCUS");
    //         return
    //     } else {
    //         let post = {
    //             title: $("#title")[0].value
    //             , content: content
    //         }
    //
    //         $.ajax({
    //             url: "/memberBoard/save",
    //             data: post,
    //             success: function (data) {
    //                 alert('저장하였습니다.')
    //             },
    //             error: function (jqXHR, textStatus, errorThrown) {
    //                 alert('오류가 발생하였습니다.')
    //             }
    //         })
    //     }
    // }
</script>
</html>